In [5]:
# evaluate area of triangle
base = 10.5
height = 7

In [7]:
print(type(base))
print(type(height))

<class 'float'>
<class 'int'>

In [8]:
area = 1/2 * base * height
print(area)
print(type(area))

36.75
<class 'float'>

In [9]:
# Scientific Notation
foo = 2.3e4
foo

23000.0

In [10]:
bar = 2.3e-3
bar

0.0023

In [13]:
# Total Expense Example
food = 120.34
rent = 500.4
utilities = 200.5

In [12]:
total_expense = food + rent + utilities
print(total_expense)

821.24

In [14]:
round(total_expense)

821

In [15]:
# String Concatenation
food = '120.34'
rent = '500.4'
print(food + rent)

120.34500.4

In [18]:
# binary representation of Integers
print(format(5,'b'))
print(bin(5))

101
0b101

In [22]:
# Octal Representation of a Integers
print(format(1334,'o'))
print(oct(1334))

2466
0o2466

In [2]:
# Hexadecimal Representation
print(format(1334,'x'))
print(hex(1334))

536
0x536

In [8]:
# Decimal Representation
print(format(0x536,'d'))
print(format(0o2466,'d'))
print(format(0b101,'d'))

1334
1334
5

In [23]:
format(9,'b')

'1001'

In [24]:
print(type(1.2e3))

<class 'float'>