In [ ]:
# This lecture is too basic for my current level in Python considering I have a Gold Badge and 5 Star in Python at HackerRank.
# Lets save some time.

In [5]:
first_name = 'Shubham'
last_name = 'Gupta'

In [6]:
type(first_name)

str

In [8]:
# String Concatenation
name = first_name + ' ' + last_name
print(name,type(name))

Shubham Gupta <class 'str'>

In [10]:
# f string
name = f'{first_name} {last_name}'
print(name,type(name))

Shubham Gupta <class 'str'>

In [17]:
# Indexing
print(name[0])
print(name[-1])

S
a
bham
Shubham
Gupta

In [20]:
# Slicing
print(name[3:7])
print(name[:7])
print(name[8:])
print(name[:])

bham
Shubham
Gupta
Shubham Gupta

In [14]:
# IndexError
print(name[100])

IndexError: string index out of range

In [19]:
print(name[-100])

IndexError: string index out of range

In [21]:
# len()
len(name)

13

In [27]:
# membership operators and strings
my_snacks = 'samosa,jalebi'
print('samosa' in my_snacks)
print('s' in my_snacks)
print('z' in my_snacks)
print('y' not in my_snacks)
print('jal' not in my_snacks)

True
True
False
True
False

In [29]:
print(',' in my_snacks)
print('salad' in my_snacks)

True
False

In [30]:
# \n

In [37]:
# replace()
s = 'the patient was charged $100 for the lab test'
s

'the patient was charged $100 for the lab test'

In [38]:
new_s = s.replace('$100','$50')
print(s)
print(new_s)
s = s.replace('$100','$50')
print(s)

the patient was charged $100 for the lab test
the patient was charged $50 for the lab test
the patient was charged $50 for the lab test

In [ ]:
# s.lower()
# s.upper()
# s.isdigit()
# s.index('was')

In [39]:
# str()
text = 'My age is : '
age = 108
print(text+age)

TypeError: can only concatenate str (not "int") to str

In [43]:
print(text + str(age))
# Alternatively
print(f'{text}{age} years')

My age is : 108
My age is : 108 years

In [44]:
# \t
print('hey\tbro')

hey	bro

In [45]:
string = "CodeBasics"
print(string[:4].replace("Code", "Skill"))

Skill